
body, html, main {
  height: 100vh;
  font-family: 'Source Code Pro';
  font-weight: 200;
}

.main {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.container{
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}


.fixed-bg {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.fixed-bg h1{
  position: absolute;
  top: 65%;
  bottom: auto;
  right: auto;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

.fixed-bg.bg-0 {
  background-image: url("../img/bg-0.jpg")
}

.fixed-bg.bg-1 {
  background-image: url("../img/bg-1.jpeg")
}

.fixed-bg.bg-2 {
  background-image: url("../img/bg-2.jpeg")
}

.fixed-bg.bg-3 {
  background-image: url("../img/bg-3.jpeg")
}

.fixed-bg.bg-4 {
  background-image: url("../img/bg-4.jpeg")
}

.fixed-bg.bg-5 {
  background-image: url("../img/bg-5.jpeg")
}


.scroll-bg {
  position: relative;
  min-height: 10vh;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.scroll-bg.bg-color-1 {
  background-color: #3A3A3A;
  color: #EFEFEF;
}

@media only screen and (min-width: 768px) {
  .scroll-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

.flex {
  display: flex;
}

.avatar {
  max-width: 200px;
  height: auto;
  border-radius: 200px;
  margin: auto;
  -webkit-filter: grayscale(0.5);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}

.button {
  background: transparent;
  color: #837d92;
  border-color: #837d92;
  border: 2px solid;
  margin: auto;
}

.button:hover {
  border-color: #997add;
  color: #997add;
}
